In [1]:
#TYPE CONVERSION

In [2]:
#implicit Type Coversion

In [3]:
num_integer=123
num_float=1.23

In [4]:
sum= num_integer + num_float
print(sum)

124.23

In [5]:
#print type of variable using type() function
print("Type of a:",type(sum))

Type of a: <class 'float'>

In [6]:
#explicit Type Conversion

In [7]:
float_num=1.734
integer_num=int(float_num)
print(integer_num)
print(type(integer_num))

1
<class 'int'>

In [8]:
#String to int and float
a='53'
integer_num=int(a)
float_num=float(a)

print('integer_num:',integer_num)
print('float_num:',float_num)

integer_num: 53
float_num: 53.0

In [9]:
#int and float to string

a=80
b=80.99

str_a=str(a)
str_b=str(b)

print(str_a)
print(type(str_a))

print(str_b)
print(type(str_b))

80
<class 'str'>
80.99
<class 'str'>

In [10]:
#error during Type Conversion

a='hello'
integer_num=int(a)

ValueError: ignored

In [12]:
#Loss of information during conversion

float_num=5.67
integer_number=int(float_num)

print("float_num:",float_num)
print("integer_num:",integer_number)

float_num: 5.67
integer_num: 5

In [13]:
#ASSIGNMENT OPERATOR

In [14]:
# '+='

x=10
x+=5

print(x)

15

In [15]:
# '//='

x=10
x//=4

print(x)

2

In [16]:
#OPERATOR PRECEDENCE

print(10-4*2)

2

In [17]:
#The output of the above example will be 2, not 12.
#It's because the order operator precedence of * is higher than -. Meaning, *operation is carried out before -.
#This is known as OPERATOR PRECEDENCE. It guides the order in which th operation is carried out.

In [18]:
#The operator precedence in python is listed below from higher order  to lower order.
# () > ** > +x,-x > *,/,//,% > +,-

In [19]:
str1='abc'
print(str1*3)

abcabcabc

In [20]:
print((10-4)*2-1)

11